.footer {
  font-size: 16px;
  font-weight: bold;
  margin: auto;
  width: 80%;
  text-align: center;
}

.site-title {
  color: #c83a17;
  border-bottom: solid 2px #d3d3d3;
  width: 10em;
  text-decoration: none;
  padding-bottom: 1em;
  font-size: 2em;
  font-weight: bold;
}

.site_title a:visited {color: #c83a17;}

h1 {
  color: #8e8e8e;
  font-size: 2em;
  font-weight: bold;
  width: 100%;
}

.flex-horizontal {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.nav-title h1 {font-size: 2em;
color: black}

.nav-title a:visited {color: black;
text-decoration: none;}

.nav-menu {float: right;}
.nav-menu ul {display: inline;}

.banner h1 {text-align: center;
font-size: 8em;}

.center {justify-content: center;
padding: 10em;}

body
