body {font-size: 1.5em;
    color: #494949;}

.footer {
  font-size: 16px;
  font-weight: bold;
  margin: auto;
  width: 80%;
  text-align: center;
  padding-top: 1em;
}

.site-title {
  color: #c83a17;
  border-bottom: solid 2px #d3d3d3;
  width: 10em;
  text-decoration: none;
  padding-bottom: 1em;
  font-size: 2em;
  font-weight: bold;
}

.site_title a:visited {color: #c83a17;}

h1, h2, h3 {
  color: #2a2a2a;
  font-weight: bold;
  width: 100%;
}

.flex-horizontal {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.nav {padding: .5em 2em 0 2em;}
.nav-title h1 {font-size: 1.5em;
color: black}

.nav-title a:visited {
  color: black;
  text-decoration: none;
}

.nav-menu {float: right;}
.nav-menu ul {list-style-type: none;}
.nav-menu ul li {
  display: inline;
  padding: 0 1em;
  font-size: 1em;}

.banner h1 {text-align: center;
font-size: 4em;
color: black;}

.banner-small h1 {text-align: center;
font-size: 2em;}
.center {
  justify-content: center;
  padding: 1em;
}
.lesson-content {width: 80%;
margin: auto;}

.lesson-content img {text-align: center;
margin: auto;}

a, a:visited {color: #494949;}
